<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add
			name="PCInfoDB"
			connectionString="Data Source=FY5TEWPC;Initial Catalog=OOP_PC_INFO;Integrated Security=True"
			providerName="System.Data.SqlClient"
		/>
	</connectionStrings>
</configuration>